<div class="menuContainer" id="toggle">
  <span class="top"></span>
  <span class="middle"></span>
  <span class="bottom"></span>
</div>
<div class="overlay" id="overlay">
  <nav class="overlay-menu">
    <ul class="menuHolder">
      <li class="navTitle">Oh Hi There, <br> I’m Your Navigation Menu!</li>
      <li><a class="menuItems" href="/index.html">01. Homepage</a></li>
      <li><a class="menuItems" href="/about.html">02. About Me</a></li>
      <li><a class="menuItems" href="/index.html#sectionThree">03. Work</a></li>
      <li><a class="menuItems" href="/index.html#sectionFour">04. 1 Dollar And A Dream</a></li>
      <li>
        <div class="menuInfo">
          <ul class="socialMedia">
            <li><a href="https://www.instagram.com/haopengyu/"><i class="fab fa-instagram"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="https://dev.to/hstevey"><i class="fab fa-dev" title="hstevey's DEV Profile"></i></a></li>
          </ul>
          <div class="switch large">
            <input class="switch-input btn-toggle" id="yes-no" type="checkbox" name="exampleSwitch">
            <label class="switch-paddle" for="yes-no">
              <span class="switch-active" aria-hidden="true"></span>
              <span class="switch-inactive btn-toggle" aria-hidden="true"></span>
            </label>
          </div>
          <p class="credits">Designed and Developed <br> by Haopeng Yu
            2020.</p>
        </div>
      </li>
    </ul>
  </nav>
</div>