<div id="sectionTwo">
    <div class="grid-container">
        <div class="grid-x grid-padding-x">
            <div class="small-12 cell">
                <div class="parallax">
                    <div id="stars2"></div>
                    <div id="stars3"></div>
                    <h2 class="animate__animated animate__bounceInDown animate__delay-3s">Hao Peng Yu</h2>
                    <h3>[ /hou-peŋ-yü/ ] noun</h3>
                    <hr>
                    <p>
                        <b>1.</b> &nbsp; An interactive designer based in The Netherlands. Driven by two goals: creating delightful experience through design and streamlined workflow processes with an open-minded iterative collaboration.
                    </p>
                    <p><i>Addiontal Information</i>  &nbsp; interests include cooking, traveling and continuous learning. Favourite foodie is Beef wellington and favourite dessert is “Appel flap”. <br> <i>(delicious airy pastry with caramelized apple-bits inside)</i></p>
                        <a href="/about.html" class="linkref"> More About Me </a>
                </div>
            </div>
        </div>
    </div>
</div>