<div id="sectionThree">
    <div class="grid-container">
        <div class="marginAll">
        <div class="grid-x grid-padding-x">
            <div class="small-12 medium-4 cell">
                <div class="sectionContent">
                    <h2>03 Most Recent Cases.</h2>
                    <p class="sectionText"> I had the honour to work on some amazing cases. Here are two most recent cases.
                        The website is still in development so stay tuned for the product page. Meanwhile feel free to visit my <a href="https://www.behance.net/haopengyu" class="Link">Behance</a> for more information.</p>
                </div>
            </div>
            <div class="small-6 medium-4 cell">
                <img src="{{root}}assets/img/placeholder.png">
            </div>
            <div class="small-6 medium-4 cell">
                <img src="{{root}}assets/img/placeholder2.png">
            </div>
        </div>
    </div>
    </div>
    <div class="grid-container">
        <div class="grid-x grid-padding-x">
            <div class="small-12 medium-7 cell">
                <img src="{{root}}assets/img/zorgpartners.png">
            </div>
            <div class="small-12 medium-5 cell">
                <div class="sectionContent">
                    <h2>Honourable Mention</h2>
                    <a href="https://www.zorgpartners.nl/" class="ZorgPartner Link">Zorg Partners Midden Holland</a>
                    <p class="sectionText">
                        Was an amazing project during my internship at <a href="https://www.basicorange.nl/" class="Link">Basic Orange </a>.
In this project we used different technique and different design elements.
Thanks BO for the amazing internship! Check out <a href="https://www.basicorange.nl/" class="Link">Basic Orange </a> for more information!

                    </p>
                </div>
            </div>
        </div>
      </div>
</div>