<div id="sectionMe">
    <div class="sectionMePart">
        <div class="grid-container">
            <div class="grid-x grid-padding-x">
                <div class="small-12 medium-4 cell">
                    <img src="{{root}}assets/img/meOne.png">
                </div>
                <div class="small-12 medium-8 cell">
                    <h2 class="sectionMeH2">You want to know a bit more about me right? 🙇🏻‍♂️</h2>
                    <div class="sectionContent">
                        <p class="sectionText">My name is Haopeng Steve Yu. i'm 23 years old and live in The Netherlands. 
Im graduated as Interactive Designer at Grafisch Lyceum Utrecht.I love traveling, learning new languages and of course I love trying out new food. I'm eager to learn new things and love to be challenged. Down here you will find out more about me! oh and nice to meet you!
 </p>
 <a href=" {{root}}assets/img/haopengsteveyu_resume.jpg" class="button" download>Download Resume </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sectionMePart">
        <div class="grid-container">
            <div class="grid-x grid-padding-x">
                <div class="small-12 medium-4 cell">
                    <h3>Study</h3>
                    <p class="sectionText">I graduated in 2016 as interactive designer at the grafisch lyceum utrecht. Because I had good grades I had this opportunity to do the “Fast Study Program” and so I finished my study in 2.5 years.

                    </p>
                </div>
                <div class="small-12 medium-4 cell">
                    <h3>Studying Abroad</h3>
                    <p class="sectionText">Back in 2018 I had this urge for traveling and exploring the world and myself. In 2019 i packed my stuff and went to China to learn more about my culture and language. I faced many obstacles and difficulties of learning the world's most difficult language. But I enjoyed every single moment of it and the whole experience really changed me as a person and as a designer.</p>
                </div>
                <div class="small-12 medium-4 cell">
                    <div class="autoTyper">
                        <span id="typed"></span>
                      </div>
                    <p class="sectionText">Currently I speak 5 languages and am learning korean as I'm coding my website!. underneath you can see a short sum-up of some skills and programs I'm using as an interactive designer.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="sectionMePart">
        <div class="grid-container">
            <div class="grid-x grid-padding-x">
                <div class="small-12 cell">
                    <h2>What I can do for you</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="sectionMePart">
        <div class="grid-container">
            <div class="grid-x grid-padding-x small-up-2 medium-up-3">
                <div class="cell">
                    <div class="blockyContent">
                        <p class="blockyEmoji">👀</p>
                        <p class="blockyTitle">UI optimization </p>
                        <p class="blockyText">Creating delightfull online environments based on necessity and logic.</p>
                    </div>
                </div>
                <div class="cell">
                    <div class="blockyContent">
                        <p class="blockyEmoji">🧠</p>
                        <p class="blockyTitle">UX Research </p>
                        <p class="blockyText">Uncovering the target audience’s true need through a combination of data collection processes.</p>
                    </div>
                </div>
                <div class="cell">
                    <div class="blockyContent">
                        <p class="blockyEmoji">👨🏻‍💻</p>
                        <p class="blockyTitle">Brand Identity</p>
                        <p class="blockyText">Integrating the brand’s message to foster a sense of trust & recognition in the target audience.</p>
                    </div>
                </div>
                <div class="cell">
                    <div class="blockyContent">
                        <p class="blockyEmoji">📝</p>
                        <p class="blockyTitle">Style Guide</p>
                        <p class="blockyText">Documenting all the elements needed to apply the brand consistently across various platforms.</p>
                    </div>
                </div>
                <div class="cell">
                    <div class="blockyContent">
                        <p class="blockyEmoji">✨</p>
                        <p class="blockyTitle">Visual Design</p>
                        <p class="blockyText">Creating emotional connections by making colour & typography choices that support each other.</p>
                    </div>
                </div>
                <div class="cell">
                    <div class="blockyContent">
                        <p class="blockyEmoji">🦾</p>
                        <p class="blockyTitle">Development </p>
                        <p class="blockyText">Building websites what represents your brand, in order to tell your story</p>
                    </div>
                </div>
              </div>
        </div>
    </div>
    <div class="sectionMePart">
        <div class="grid-container">
            <div class="grid-x grid-padding-x">
                <div class="small-12 cell">
                    <div class="widthBanner">
                        <p class="bannerTitle">Text</p>
                        <p class="bannerText">Text</p>
                        <a href="mailto:haopengyume@gmail.com" class="button"> Write Me! </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sectionMePart">
        <div class="grid-container">
            <div class="grid-x grid-padding-x">
                <div class="small-12 medium-4 cell">
                    <div class="small-12 medium-4 cell">
                        <h3>Restaurant</h3>
                        <p class="sectionText">I grew up in a typical take-away chinese restaurant so this love for cooking always has been inside of me. After my amazing internship at basic orange. I made the decision to try out this cooking passion, so I won't regret later in life for not taking the opportunity.. I worked at a japanese restaurant called Sochi Sushi in Hilversum.I started as a dishwasher and worked my A** up to be Chef De Cuisine.</p>
                    </div>
                </div>
                <div class="small-12 medium-4 cell">
                    <div class="small-12 medium-4 cell">
                        <p class="sectionText">During the journey I rediscovered myself as designer and chef, working under enormous time pressure during dinner service and using my creativity to plate up the dishes really gave this new level of “satisfaction”. It was an amazing run and i learned so much!</p>
                    </div>
                </div>
                <div class="small-12 medium-4 cell">
                    <div class="small-12 medium-4 cell">
                        <h3>My little dream</h3>
                        <p class="sectionText">As student i was always searching for a good spot or place to hangout, do homework and just vibe with my friends. As i was traveling around the world i visit many cafe's "chill spots". i hope one day i can also start my own cafe where other "searchers" like myself can find their self comfortable in my cafe to enjoy the food, drinks and vibe.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sectionMePart">
        <div class="grid-container">
            <div class="grid-x grid-padding-x">
                <div class="small-12 medium-4 cell">
                    <div class="small-12 medium-4 cell">
                        <h3>Fashion Design</h3>
                        <p>Closer.</p>
                        <p class="sectionText">During my stay in 2019 in china, i started a fashion brand with 2 friends. Closer was my first official Fashion Brand. We designed and made our own lingerie. The concept of Closer was: Lingerie should be sexy and daring, but also comfortable and affordable.</p>
                    </div>
                </div>
                <div class="small-12 medium-4 cell">
                    <div class="small-12 medium-4 cell">
                        <p class="sectionText">We talked with our own friends to promote and post our lingerie. Slowly but surely more and more people start to ask about Closer.That was the moment we set up our website and started selling our amazing products to all kinds of customers all around the world. 
                        </p>
                    </div>
                </div>
                <div class="small-12 medium-4 cell">
                    <div class="small-12 medium-4 cell">
                        <h3>Experience</h3>
                        <p class="sectionText">Closer was such an intense project. We designed our own made lingerie, we managed to find manufacturers and factories in mainland China. setting up websites and social media marketing strategies. it was an amazing-useful experience.Sadly due Covid19 we couldn’t meet the demand of our customer. and as a start up.. Something big as Covid really hits you hard, but in the end I'm so thankful for everything and I learned so many things.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>