<div class="sectionOne">
  <div class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="small-12 medium-7 cell">
        <div class="sectionOneContent">
          <p class="sectionOneSmallP ">Interactive Designer</p>
          <p class="sectionOneSmallP pp">Front-End Developer, UI and UX Designer</p>
          <!-- <p class="subTitle">(or just call me <span class="subTitleName">Steve</span>)</p>!--->
          <p class="sectionOneTitle animate__animated animate__headShake animate__delay-1s">Hi You 👋<br>
            I'm Haopeng<br>
            Steve Yu</p>
          <p class="sectionOneText">I design identity systems and develop websites for start-ups,<br> small businesses, and solopreneurs</p>
          <a href="mailto:haopengyume@gmail.com" class="button"> Write Me! </a>
          <a href=" {{root}}assets/img/haopengsteveyu_resume.jpg" class="button secondary" download>Download Resume </a>
          <ul class="socialMedia">
            <li><a href="https://www.instagram.com/haopengyu/"><i class="fab fa-instagram"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="https://dev.to/hstevey"><i class="fab fa-dev" title="hstevey's DEV Profile"></i></a></li>
          </ul>
          <div class="bar two"></div>
          <!--need to be in the menu-->

        </div>
        <div class="autoTyper">
          <span id="typed"></span>
        </div>
      </div>
      <div class="small-12 medium-5 cell">
        <img src="{{root}}assets/img/meOne.png">
      </div>
    </div>
  </div>
</div>