<div id="sectionFour">
    <div class="grid-container">
       
        <div class="grid-x grid-padding-x">
            <div class="small-12 medium-8 cell">
                <div class="sectionContent">
                    <h2>The “1DAAD” project.</h2>
                    <p class="sectionText">The “1DAAD” Project stands for “ 1 Dollar And A Dream”. I started this project as something to give back to the society and help out the next generation students and just graduated students. The “1DAAD” Project helps students with their Minor’s and Just Graduated students with setting up their businesses and chasing their dreams. </p>
                    <p>To get in touch, write to <a href="mailto:haopengyume@gmail.com" class="Link">haopengyume@gmail.com</a></p>
                </div>
            </div>
            <div class="small-12 medium-4 cell">
                <img src="{{root}}assets/img/placeholder2.png">
            </div>
        </div>
    </div>
</div>

